@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.signIn-signUp-container {
  margin: 0 auto;
  height: 75vh;
  max-height: 800px;
  max-width:1300px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
}

.left-container {
  border-radius: 5px;
  background: -webkit-linear-gradient(to right, #0e8ce4, #0e8ce4);
	background: linear-gradient(to right, #0e8ce4, #104d79);
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-container {
  width: 85%;
}

.form-container h1 {
  text-align: center;
  font-weight: 600;
}

.random-message-center {
  height: 200px;
  color:white;
  display: flex;
  flex-direction:column;
  justify-content:space-evenly;
  align-items: center;
}

.random-message-center button {
	border-radius: 20px;
	border: 1px solid white;
  background: whitesmoke;
	color: #0e8ce4;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.random-message-center button:active {
	transform: scale(0.95);
}

.random-message-center button:focus {
	outline: none;
}

.random-message-center button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}
